*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
}

.listDiv,.userHead{
    width: 100%;
    height: 200px;
}

.userHead{
    justify-content: space-between;
    align-items: center;
}

.container{
    flex-direction: column;
}

.cartContent{
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
    background: rgba(240, 239, 238 , 0.7);
}

img{
    width: 150px;
    height: 150px;
    /* object-fit: contain; */
    object-fit: fill;
    border-radius: 15px;
}


.listDiv{
    justify-content: space-between;
    background: white;
    margin: 5px;
    border-radius: 20px;
}

.listContent{
    width: 90%;
    gap : 10px;
}

.details{
    width: calc(100% - 150px);
    display: flex;
    justify-content: space-between;
}

.productInfo,.purchaseInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productInfo{
    align-items: flex-start;
}

.purchaseInfo{
    align-items: flex-end;
}

.action{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img::before{
    content: "";
    width: 10px;
    height: 200px;
}

.checkoutBtn,.removeBtn{
    width: 80%;
}

.btn{
    width: 100%;
    background:rgba(255, 39, 0 , 0.9);
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: inherit;
    font-weight: 600;
    font-size: large;
}

.btn:hover{
    border: 3px solid #c50e0e;
}

.btn:active{
    background: #c50e0e;
    border: 3px solid #c50e0e;
    transform: translate(1px,1px);
}

.checkoutBtn .btn{
    background: orange;
}

.checkoutBtn .btn:active{
    background-color: darkorange;
    border-color: gold;
}

.checkoutBtn .btn:hover{
    border-color: gold;
}

.greetingText{
    flex: 1;
    font-weight: 300;
    font-size: xx-large;
    padding-left: 30px;
}

.username {
    font-size: xxx-large;
}
