*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background: url("https://images.unsplash.com/photo-1520774779505-a7782b3fb733?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.main {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.616);
}
/* .main:after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    background: url("17.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    width: 100vw;
    z-index: -1;
} */
#group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.screen{
    font-size: 5rem;
}
.card-body{
    height: min-content;
    width: auto;
}
.card{
    margin-top: 80px;
    margin-bottom: 50px;
}

section{
    position: absolute;
    top: 0;
    left: 0;
     width: 100vw;
    height: auto;
    min-height: 100vh;
    background: #fff;
    pointer-events: none;
    animation: fadeout .5s linear forwards;
    animation-delay: 2s;
    z-index:10 ;
}
@keyframes fadeout{
    0%{
        opacity: 1;
    }
    100%{
        /* transform:translateY(-100vh);
    transition: ease-in-out 2s; */
        opacity: 0;
    }
}
.loader{
    position: absolute;
    top: 0;
    left:0;
    height: auto;
    height:100vh;
    background:#000;
}
.count{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 18vw;
    color:#fff;
    font-weight: 800;
    mix-blend-mode: difference;
    width:auto;
    text-align: right;
}


 @media only screen and (min-width:992px)
{
#group{
    margin-top: 160px;
}
section{
    height:100vh;
}

} 
@media only screen and (max-width:992px) 
{
    section,.loader{
        height: 105vh;
    }
}

@media only screen and (max-width:767px)
{
    section,.loader{
        height: 113vh;
    }
    .card{
       margin-left: 10px;
       margin-right: 10px;
    }
}
/* @media only screen and (max-width:992px)
{
    section,.loader{
        height:113vh;
    }
} */
/* @media only screen and(min-width:394px) and (max-width:575px)
{
    .card{
        margin-left: 20px;
        margin-right: 20px;
    }
    section,.loader{
        height: 134vh;
    }
} */
